---
layout: default
title: "UVa AIML Seminar"
---

<div class="introduction">
  <!-- <h1>hi.</h1> -->
  <p align="bottom">
    The UVa Artificial Intelligence and Machine Learning (AIML) seminar provides a communication platform for our colleagues and friends who are working on artificial intelligence, machine learning, and related fields.
  </p>
</div>

<div class="toc">
  
  <h2>Upcoming Talks</h2>
  <ul class="texts">
    {% assign sorted = site.texts | sort:"time" %}
    {% for item in sorted %}
    
    <li class="text-title"> {{item.time}}
      <a href={{ item.homepage }}>{{ item.author }}</a> : 
      <a href="{{ site.baseurl }}{{ item.url }}"> {{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="toc">
  <h2>Past Talks</h2>
  <ul class="texts">
    {% assign sorted = site.pasttalks | sort:"time" | reverse %}
    {% for item in sorted %}
    
    <li class="text-title"> {{item.time}}
      <a href="{{ item.homepage }}">{{ item.author }}</a> : 
      <a href="{{ site.baseurl }}{{ item.url }}"> {{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<p>
  Information about the <a href="{{ site.baseurl}}/future/">scheduled talks</a>.
</p>

<hr style="height:2px;border-width:0;color:gray;background-color:gray">


<div class="sponsorship">
  <!-- <h1>hi.</h1> -->
  <h2>Sponsors</h2>
</div>
