---
layout: default
---

<article class="poem poetry">
  <center><h1 class="text-title">{{ page.title }}</h1></center>
  <br>
  <p align="center">
    {% if page.image != "" %}
    <img src={{ page.image }} height=200>
    {% endif %}
    {% if page.homepage == "" %}
    {{page.author}}
    {% else %}
    <a href={{ page.homepage }}>{{ page.author }}</a>
    {% endif %}
    <br>{{ page.org }}
    <br>
    <br>Time: {{ page.time }}, {{ page.hour }}
    {% if page.loc == "" %}
    <br>Location: <a href={{ page.zoom }}>Zoom Only</a>
    {% else %}
    <br>Location: {{ page.loc }} and <a href={{ page.zoom }}>Zoom</a>
    {% endif %}
  </p>
  <p class="byline">
  </p>
  {{ content }}
</article>

<!-- <article class="post"> -->
<!--   <h1 class="text-title">{{ page.title }}</h1> -->
<!--   {{ content }} -->
<!-- </article> -->
