---
layout: default
---

<article class="poem poetry">
  <center><h1 class="text-title">{{ page.title }}</h1></center>
  <br>
  <p align="center">
    <a href={{ page.homepage }}>{{ page.author }}</a>
    <br>{{ page.org }}
    <br>
    <br>Time: {{ page.time }}
    <br>Location: {{ page.loc }} and <a href={{ page.zoom }}>Zoom</a>
  </p>
  <p class="byline">
  </p>
  {{ content }}
</article>

<!-- <article class="post"> -->
<!--   <h1 class="text-title">{{ page.title }}</h1> -->
<!--   {{ content }} -->
<!-- </article> -->
